/* BODY CSS */
body {
  font-family: papyrus, fantasy;
  margin: 0;
  padding: 0;
  background-color: #fffffffe;
}

/*HEADER CSS*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fee9e9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
header .logo {
  display: flex;
  align-items: center;
}
header img {
  max-height: 80px;
  margin-right: 10px;
}
header h2 {
  margin: 0;
  text-align: center;
  color: #330e0e;
}

.Nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.Nav a {
  color: #330e0e;
  text-decoration: none;
  font-weight: 600;
}
/* INTRODUCTION */
.intro-note {
  color: #463030;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.intro-note h3 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #463030;
}
.intro-note p {
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 1.6;
  font-weight: 550;
  color: black;
}

/* RECIPE CARDS */
.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card h2 {
  margin-bottom: 10px;
  color: #463030;
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.card p {
  font-size: 17px;
  margin-bottom: 15px;
  color: #000000;
}
.card .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #796767;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: #fff;
  font-weight: bolder;
  font-size: large;
  text-decoration: none;
}
.card .btn:hover {
  background-color: #a48585;
}

/* PAGINATION - HOME ICON */
.home-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #463030;
  padding: 5px;
  border-radius: 10%;
  width: 50px;
  height: 50px;
}

/*PAGINATION */
.wrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}
.pagination {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}
.pagination__link {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 19px;
  color: #463030;
  font-weight: bolder;
  border: 2px solid #241717;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.pagination__link:hover {
  background-color: #796767;
  color: #fff;
}
